.sisbf_backpacks
  &-backpack
    width 100%
    margin 0 0 20px 0
  &-user
  &-items
    display inline-block
    vertical-align top
  &-user
    width 20%
  &-items
    width 80%
    text-align right
    img
      width 73px
      height 49px
      margin 0 0 5px 5px
      border 1px solid black
