.sisbf_filters
  &-options
  &-option
  &-title
  &-input
    display inline-block
    vertical-align top
  &-options
    width 33%
    margin 0 0 10px 0
    &:nth-child(3n)
      text-align right
    &:nth-child(3n+2)
      text-align center
  &-option
    width 100%
    margin 0 0 5px 0
    color #C6D4DF
    &:first-of-type
      .sisbf_filters-title
          visibility visible
  &-title
  &-input
    text-align left
  &-title
    width 25%
    visibility hidden
    span
      display block
      margin 7px 0 0 0
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
  &-input
    width 70%
    .select2-container
      width 100%
  &-results
  &-selection
    &--color
      width 15px
      height 15px
      float left
      margin 0 5px 0 0
      border-radius 5px
  &-selection
    &--color
      margin 5px 5px 0 0
