#backpackscontent
  margin-bottom 20px
  .input_space
    margin-left 10px

.backpack
  width 908px
  margin-top 10px
  overflow hidden
  .user
    width 200px
    float left
  .items
    padding-left 9px
    overflow hidden
    img
      height 47px
      margin 0px 0px 5px 5px

.backpack_tooltip
  max-width 500px
  position absolute
  top -1000px
  left -1000px
  padding 10px
  background #3a3a3a
  border 1px solid #BFBFBF
  border-radius 3px
  .left
  .right
    float left
  .left
    width 75px
    overflow hidden

.friendBlock
  transition background 500ms

.item_name
  width 250px

.filters
  display inline-block
  line-height 13px
  font-size 10px
  padding 3px
  color white
  border-radius 2px
  background linear-gradient(to bottom, #8bb006 5%,#6b8805 95%)

.uifilters
  width 586px
  & > &_selectors
    & > .ui_filter
      &:first-of-type
        & > .ui_left
          visibility visible

.uifilters_selectors
.ui_left
.ui_right
  display inline-block
// .ui_capitalize
//   text-transform capitalize
.ui_left
  text-align right
  padding-right 7px
  text-transform capitalize
  visibility hidden
.uifilters_selectors
  vertical-align top
  margin-left 10px
  margin-bottom 20px
.ui_left
  width 60px
.ui_filter
  display block
  margin-top 10px
.uifilters
  select
    width 200px
