#backpackscontent
  margin-bottom 20px
  .input_space
    margin-left 10px

.backpack
  width 908px
  margin-top 10px
  overflow hidden
  .user
    width 200px
    float left
  .items
    padding-left 9px
    overflow hidden
    img
      height 47px
      margin 0px 0px 5px 5px

.backpack_tooltip
  max-width 500px
  position absolute
  top -1000px
  left -1000px
  padding 10px
  background #3a3a3a
  border 1px solid #BFBFBF
  border-radius 3px
  .left
  .right
    float left
  .left
    width 75px
    overflow hidden

.friendBlock
  transition background 500ms

.item_name
  width 250px

.filters
  display inline-block
  line-height 13px
  font-size 10px
  padding 3px
  color white
  border-radius 2px
  background linear-gradient(to bottom, #8bb006 5%,#6b8805 95%)

.uifilters
  width 586px
.uifilters_selectors
.ui_left
.ui_right
  display inline-block
.ui_left
  text-align right
  padding-right 7px
.uifilters_selectors
  vertical-align top
  margin-left 10px
  margin-bottom 20px
.ui_left
  width 60px
.ui_filter
  display block
  margin-top 10px
.uifilters
  select
    width 200px

.select2-search-choice-close
  // background: url('+chrome.extension.getURL("select/select2.png")+') right top no-repeat;
.select2-container .select2-choice abbr
  // background: url('+chrome.extension.getURL("select/select2.png")+') right top no-repeat;
.select2-container .select2-choice .select2-arrow b
  // background: url('+chrome.extension.getURL("select/select2.png")+') no-repeat 0 1px;
.select2-search input
  // background: #fff url('+chrome.extension.getURL("select/select2.png")+') no-repeat 100% -22px;
  // background: url('+chrome.extension.getURL("select/select2.png")+') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  // background: url('+chrome.extension.getURL("select/select2.png")+') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);background: url('+chrome.extension.getURL("select/select2.png")+') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%); background: url('+chrome.extension.getURL("select/select2.png")+') no-repeat 100% -22px, linear-gradient(top, #fff 85%, #eee 99%);
.select2-search input.select2-active
  // background: #fff url('+chrome.extension.getURL("select/select2-spinner.gif")+') no-repeat 100%;
  // background: url('+chrome.extension.getURL("select/select2-spinner.gif")+') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  // background: url('+chrome.extension.getURL("select/select2-spinner.gif")+') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
  // background: url('+chrome.extension.getURL("select/select2-spinner.gif")+') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
  // background: url('+chrome.extension.getURL("select/select2-spinner.gif")+') no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%);
.select2-more-results.select2-active
  // background: #f4f4f4 url('+chrome.extension.getURL("select/select2-spinner.gif")+') no-repeat 100%;
.select2-container-multi .select2-choices .select2-search-field input.select2-active
  // background: #fff url('+chrome.extension.getURL("select/select2-spinner.gif")+') no-repeat 100% !important;
