.sisbf_person
  &--queue
    background-color transparent !important
  &--loading
    background-color rgba(0, 0, 0, 0.3) !important
  &--error
    background-color rgba(255, 0, 0, 0.3) !important
  &--empty
    background-color rgba(0, 255, 0, 0.3) !important
  &--busy
    background-color rgba(255, 255, 0, 0.3) !important
