.sisbf
  &_person
    &--queue
      background-color transparent !important
    &--loading
      background-color black !important
    &--error
      background-color red !important
  &_container
    &:last-of-type
      margin 0 0 20px 0
  &_menu
    &--space
      margin 0 0 0 10px
