.sisbf_tooltip
  position absolute
  top -1000px
  left -1000px
  max-width 500px
  padding 10px
  background #3a3a3a
  border 1px solid #BFBFBF
  border-radius 3px
  &-title
  &-value
    float left
  &-title
    width 75px
    overflow hidden
