.sisbf_tooltip
  position absolute
  top -1000px
  left -1000px
  max-width 500px
  padding 10px
  background #3a3a3a
  border 1px solid #BFBFBF
  border-radius 3px
  table
    td
      vertical-align top
  &-title
  &-value
    float left
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  &-title
    width 75px
