mixin optionChoice( choice )
  if choice.color && choice.color != null
    span(style="color:##{choice.color}") #{choice.name}
  else
    | #{choice.name}

if tooltip
  table
    each choice, option in tooltip
      tr
        td #{option}
        td
          if !_.isArray( choice )
            +optionChoice( choice )
          else
            each value in choice
              +optionChoice( value )
              br
