if tooltip
  each value, option in tooltip
    .sisbf_tooltip-title
      | #{option}:
    .sisbf_tooltip-value
      if value.color && value.color != null
        span(style="color:##{value.color}") #{value.name}
      else
        | #{value.name}
    br
